
.h-style{
    padding: 0 0 60px 10px;
}
.price{
    width: 240px;
    line-height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: gray;
    padding-left: 10px;
}
.upload{
    width: 240px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    color: gray;
    padding-left: 10px;
    background-color: #DEFFED;
    color: #009444;
    border: 1px solid #009444  ;
    text-align: center;
}
.form-contain{
    padding-left: 50px;
}

.footer-container {
    height: 580px;
    background-color: #FBD062;
}
.form-input{
    width: 500px;
    line-height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: gray;
    padding-left: 10px;
}
.msg-input {
    padding: 0 0 200px 10px;
}
.form-container{
    padding-left: 250px;
}